body{display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: Helvetica;
  color: white;}
.box{width:960px;}

header{display: flex;
  flex-direction: column-reverse;
  height: 2.32rem;
  background-color: black;
  align-items: center;
  width: 100%;
  justify-content: center;
  font-size: 1rem; }

.head{ display: flex;
  flex-direction: row;
  align-items: center;}


.title{height: 1rem;
  padding: .66rem 0rem;}


a{color: white;
  text-decoration: none;}

header img{height:1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;}



/*subheader*/

.subheader{display: flex;
  background-image: url("images/moto.jpeg");
  background-size: cover;
  height: 25rem;
  width: 100%;
  justify-content: center;}


  .subheader .floater{display: flex;
    flex-direction: column;
    background-color: black;
    width: 20rem;
    margin-top: 9rem;
    padding: 2rem 3rem 2rem 3rem;}

  .subheader .floater p{font-size: 1rem;
    font-weight: bold;
    margin-bottom: .25rem;}

  .subheader .floater span{font-size: 2rem;
    margin-top: .25rem;
    font-weight: bold;}

/*menu*/

.navbar {background-color: firebrick;
  display: flex;
  justify-content: center;
  padding: .75rem 0rem;
  color: white;
  align-content: space-between;
  }

.navbar nav{display: flex;
  justify-content: space-between;
  color: white;}

.menubar{display: none;}
/*products*/

.info {display: flex;
  justify-content: center;}

.productbar{display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3rem;}

  .product{background-color: white;
    width: 30%;
    border: 4px solid black;}

  .product-remove{background-color: white;
    width: 30%;
    border: 4px solid black;}

  .product-remove2{background-color: white;
    width: 30%;
    border: 4px solid black;}

  .productimg{display: flex;
  justify-content: center;  }

  .productimg img{height: 100%;
  margin-top:2rem;
  margin-bottom: 2rem;
  height: 9rem;
  max-width: 100%;
  max-height: 100%;}

  .productname {background-color: black;
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: center;}

.meetingbar{display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  margin-bottom: 4rem;}

  .meeting{width:35%;}

  .meetblack{background-color: black;
    padding: 1rem 2rem;}

  .meetwhite{color:black;}

footer{display: flex;
  justify-content:center;
  background-color: black;
  height: 5rem;}

footer .box{display: flex;
  align-items: center;}

@media only screen and (max-width: 1024px)
  {.box{width: 100%;}

  .box .menubar{justify-content: center;
    display: list-item;
    text-align: center;}

  .navbar nav{display: none;}

  .product{width: 47%;}
  .product-remove2{width:47%;}
  .product-remove{display:none;}

  .meeting{width: 35%;}}

@media only screen and (max-width: 470px)
  {.subheader{height: 15rem;}

  .subheader .floater{margin-top: 10rem;
  padding-top: 1rem;
  padding-left: 2rem;
  width: 100%;
  padding-bottom: 1rem;}

  .floater p{font-size: .77rem;
  font-weight: bold;
  color: red;}

  .subheader .floater span{font-size: 1rem;
  font-weight: bold;}

  .info .box{width: 90%;}

  .product{width: 100%;}

  .meetingbar{display: flex;
    flex-direction: column;
    }

  .meeting{margin-top: .5rem;
    width: 100%;}

  .product-remove2{display: none;}

  .productbar{justify-content: center;}

  footer .box{display: flex;
    justify-content: center;}
}
